<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/images/popcorn.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css"/>
  <title>Popcorn</title>
</head>
<body>
  <nav class="container">
    <div class="logo-section">
      <div class="logo">
        <a href="/dash"><img src="/images/popcorn.png" alt="" /></a>
      </div>
      <div class="header-btns">
        <a class="toggle" href="javascript:void(0);"><i class="fas fa-bars"></i></a>
      </div>
    </div>
    <div class="menu-section">
      <div class="menu">
        <ul>
          <li><a href="/dash">Home</a></li>
          <li><a href="/film/my-films">My Films</a></li>
          <li><a href="/actor/my-actors">My Actors</a></li>
          <li><a href="/film/add-film">Add Film</a></li>
          <li><a href="/actor/add-actor">Add Actor</a></li>
          <li><a href="/film/films">All Films</a></li>
          <li><a href="/actor/actors">All Actors</a></li>
          <li><a href="/user/logout">logout</a></li>
        </ul>
      </div>
    </div>
  </nav>