<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="popcorn.png" type="image/x-icon">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/entry.css">
  <link rel="stylesheet" href="/css/onboard.css">
  <title>Onboarding</title>
</head>
<body class="blur">
  <div class="wrapper">
    <!-- Slides Area -->
    <section class="slides-area">
      <article class="slide slides-area__slide">
        <div class="slide__image">
          <img src="https://c.top4top.io/p_2020eq9aa1.png" alt="illustration" class="">
        </div>
  
        <div class="slide__text">
          <h2 class="slide__title">Boost Productivity</h2>
          <p class="slide__paragraph">
            Foc.io helps you boost your productivity
            on a differnet level
          </p>
        </div>
      </article>
      <article class="slide slides-area__slide">
        <div class="slide__image">
          <img src="popcorn.png" alt="illustration" class="">
        </div>
  
        <div class="slide__text">
          <h2 class="slide__title">Work Seamlessly</h2>
          <p class="slide__paragraph">
            Get your work done seamlessly
            without interruption
          </p>
        </div>
      </article>
      <article class="slide slides-area__slide">
        <div class="slide__image">
          <img src="popcorn.png" alt="illustration" class="">
        </div>
  
        <div class="slide__text">
          <h2 class="slide__title">Achieve Higher Goals</h2>
          <p class="slide__paragraph">
            By boosting your producivity we help
            you achieve higher goals
          </p>
        </div>
      </article>
    </section>
  
    <!-- Next Button -->
    <button class="button button-next" aria-label="to get next slide">Next</button>
  
    <!-- Paginations Area -->
    <section class="paginations-area"></section>
  </div>
  <script src="/js/script.js"></script>
</body>
</html>